.container {
  background-color: white;
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
  width: 100%;
}

.card-text-section {
  padding: 0 15px;
  overflow: hidden;
  text-align: left;
}

.card-text-section h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  margin: 0;
}

.card-text-section p {
  color: #666;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-button-section button {
  padding: 15px 15px;
  background-color: #0f64a3;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

@media (max-width: 480px) {
  .card-button-section button {
    padding: 8px 15px;
    font-size: 12px;
  }
}

.check-btn {
  color: white;
  font-size: 18px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.check-btn.done {
  background-color: green;
}

.check-btn.pending {
  background-color: black;
}

.container button {
  min-width: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
